.lem{
width: 700px; ;
height:10vh ;
background-color: rgb(34, 0, 255);
display: flex;
justify-content: space-between;
}

.lem1{
width:100px ;
height:10vh ;
background-color: rgba(19, 19, 164, 0.816);

}

.lem2{
width:100px ;
height:10vh ;
background-color: rgb(36, 36, 140);
display: flex;
}

.lem3{
width:100px ;
height:10vh ;
background-color: rgb(32, 32, 101);
display: flex;
align-items: center;
}

.lemasik1{
width:3cqh ;
height:10px ;
background-color: aqua;

}

.lemasik2{
width:30px ;
height:10px;
background-color: chartreuse;

}

.lemasik3{
width:30px ;
height:10px ;
background-color: chocolate;

}

.coc{
    width:25% ;
height:10p;
background-color: aqua;
}

.coc1{
width:25%;
height:10 ;
background-color: chartreuse;
}


.coc2{
width:25%;
height:10 ;
background-color: chocolate;
}


.coc3{
width:25% ;
height:10 ;
background-color: darkslateblue;
}































































