body{
background-color: chartreuse;
background-image: url("https://cs6.livemaster.ru/storage/15/a7/245a484ec82be7032dcece26e7op.jpg");
background-size: 1px;
}















































