.name{
width: 100%;
height: 52px;
background-color: aquamarine;


}

.knopka1{
width: 20%;
    height: 52px;
background-color: hwb(84 16% 0% / 0.673);
float: left;
}


.knopka2{
width: 34%;
height: 52px;
background-color: rgb(0, 255, 255);
float: right;
}



.knopka3{
width: 34%;
height: 52px;
background-color: blueviolet;
float: left;
}


.foto{
width: 33%;
height: 52px;
background-color: blue;
float: left;
}

.kartinka{
width: 33%;
height: 52px;
background-color: brown;
float: left;
}


.block{
width: 50%;
height: 600px;
background-color: chocolate;
float: left;
}




.block2{
width: 50%;
height: 600px;
background-color: gold;
float:right
}




.gold{
background-color: chocolate;
color: blue;
font-size: 70px;

}



.lobbi{
color: blue;
font-size: 25px;
margin-top: 50px;


}



.css{
font-size: 30px;

    

}













































































































































































































































































































































































































































































































































































































































































































































































































































































































































































