.salatik0{
width:675px;
height:300px ;
background-color: #ff0000;
display: flex;

}

.salatik1{
width:50% ;
height:300px ;
background-color: rgb(255, 0, 0);
display:flex;
flex-direction: row-reverse
}
.salatik2{
width:50% ;
height:300px ;
background-color: rgb(210, 41, 41);
display: flex;
flex-direction:column

}

.salatik3{
width:30% ;
height:100px ;
background-color: rgb(214, 17, 17);


}

.salatik4{
width:30% ;
height:100px ;
background-color: rgb(255, 64, 0);

}


.salatik5{
width:30% ;
height:100px ;
background-color: rgb(237, 91, 0);
}

.salatik6{
width:30% ;
height:100px ;
background-color: #ff3300;

}


.salatik7{
width:30%;
height:100px ;
background-color: rgb(226, 43, 43);

}

.salatik8{
width:30% ;
height:100px ;
background-color: rgb(100, 18, 0);

}







































































































































































