.lem{
width:100%;
height:2000px;
background-color: rgb(0, 17, 255);
}

.lem1{
    background-color: rgb(0, 0, 255)
    width 100%;
    height: 200px;
    border: 5px solid black;
   
}
.lem2{
    background-color: rgb(51, 255, 0);
    width: 50%;
    height: 200px;
    border: 5px solid black;
    float: left;
}
  

.lem3{
    background-color: rgb(0, 255, 17);
    width: 50%;
    height: 200px;
    border: 5px solid black;
    float: right;
}
  
.lem4{
    background-color: rgb(76, 0, 255)
    width 25%;
    height: 100px;
    border: 5px solid black;
    float: left;
}

.lem4{
    background-color: rgb(8, 0, 255);
    width: 25%;
    height: 100px;
    border: 5px solid black;
    float: left;
}
.lem5{
    background-color: rgb(0, 17, 255);
    width: 25%;
    height: 100px;
    border: 5px solid black;
    float: left;
}
.lem6{
    background-color: rgb(0, 8, 255);
    width: 25%;
    height: 100px;
    border: 5px solid black;
 float: left;
}
.lem7{
    background-color: rgb(0, 51, 255);
    width: 25%;
    height: 100px;
    border: 5px solid black;
  float: left;
}
.lem8{
    background-color: rgb(4, 0, 255);
    width: 200px;
    height: 200px;
    border: 5px solid black;
}
.lem9{
    background-color: rgb(0, 4, 255);
    width: 200px;
    height: 200px;
    border: 5px solid black;
   
}
.lem10{
    background-color: rgb(0, 76, 255);
    width: 200px;
    height: 200px;
    border: 5px solid black;
  
}
.lem11{
    background-color: rgb(51, 0, 255);
    width: 200px;
    height: 200px;
    border: 5px solid black;
   
}
.lem12{
    background-color: rgb(0, 0, 255);
    width: 200px;
    height: 200px;
    border: 5px solid black;
  
}
























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































