.lem{
width:100% ;
height:500px ;
background-color: rgb(255, 255, 255);
display: grid;
grid-template-columns: 200px 1fr 200px;
grid-template-rows:100px ;
}
.lem1{
background-color: rgb(255, 0, 0);
}
.lem2{
background-color: blue;
}
.lem3{
background-color: rgb(255, 0, 0);
}































































































