.color1{
background-color: aqua; 

}
.color2{
    background-color: blue;
    
}
.color3{
background-color: brown;

}
































































































