.lem{
width:80% ;
height:500px ;
background-color: rgb(255, 255, 255);
display: grid;
grid-template-columns:100px 100px  ;
grid-template-rows: 100px 100px;
}
.lem1{


background-color: rgb(128, 255, 0);
}
.lem2{


background-color: rgb(255, 0, 0);
}
.lem3{


background-color: blue; 
}

.lem4{


 background-color: rgb(255, 0, 212);
}










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































